
#container{
    width: 80%;
    margin: 0px auto; 

}
.link{
    display: block;
    background: rgb(0, 162, 255);
    border-radius: 5px;
    width: 50%;
    padding: 10px;
    margin: 5px;
    color: white;
    text-decoration: none;
    text-align: center;
    
}
body{
    background: rgb(245, 245, 245);
    font-family: "Poppins", Times, serif;

}

.link:hover{
    filter: brightness(0.95);
}

h1{
    color:  rgb(26, 19, 19);
    border: 1px solid black;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
}
.lista{
    display: flex;
}

form{
    text-align: center;
}
textarea{
    width: 30%;
    height: 100px;
    border-radius: 5px;
    border: 2px solid rgb(0, 195, 255);
    margin-top: 5px;
    font-size: 1.2em;
}
a{
    text-decoration: none;
    color: rgb(37, 35, 35);
   
}

.sucesso{
    font-size: 3em;
    background: grey;
    color: white;
    border: none;
}
textarea:focus{
    border: 2px solid blue;
}

button{
    background-color: rgb(0, 110, 255);
    font-size: 2em;
    color: white;
    border-radius: 7px;
    padding: 5px;
    width: 50%;
}

button:hover{
    background: rgb(23, 23, 128);
    cursor: pointer;
}
button.exluir{
    background: rgb(228, 39, 39);
    width: 50px;
}
button.exluir:hover{
    background: rgb(170, 41, 41);
}
.fornecedor{
    color: rgb(0, 110, 255);
    padding: 15px;
    font-size: 1.5em;
    
}

.fornecedor:hover{
    filter: brightness(0.65);
}

/*** TELA DE LISTAGEM DE PRODUTO  ***/
.produto{
    margin-left: 30px;
    display: flex;
    border-bottom: 1px solid grey;
    padding: 30px 0 90px 0;

}


.info{
    width: 100%;
    height: 250px;
    border-radius: 10px;

}

h2{
    color: grey;
}

.preco{
    font-size: 2em;
    color: rgb(17, 16, 16);
}
.descricao{
    
    width: 90%;
    height: 100px;    
    border-radius: 5px;
    
}
.descricao-fornecedor{
    padding-bottom: 30px;
    color:rgb(107, 98, 98);
}

.imagem{
    width: 300px;
}

.img{
   border-radius: 10px;
   width: 100%;
}

div.atualizacao{
    color: rgb(48, 185, 48);
    text-align: center;
}

input.atualizacao{
    width: 90%;
    font-size: 1em;
    text-align: center;
    letter-spacing: 2px;
    height: 35px;
    border: none;
    
}
h1.logo{
    font-size: 4em;
    border:none;
    color: rgb(63, 58, 58);
    margin: 10px 0;
    text-align: center;
}

a.voltar{

    color: blue;
}